/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #F8F9FA; /* Warna off-white biar nyatu sama background */
}

::-webkit-scrollbar-thumb {
    background: #0054B7; /* Warna biru primary saat diam */
    border-radius: 4px;
    transition: background 0.3s ease;
}

/* Berubah jadi kuning saat kursor berada di atasnya (hover) */
::-webkit-scrollbar-thumb:hover {
    background: #FAD812; 
}

/* Berubah/tetap kuning saat diklik dan ditahan untuk digeser (active) */
::-webkit-scrollbar-thumb:active {
    background: #FAD812; 
}

/* Base style tambahan */
html {
    scroll-behavior: smooth;
}

/* Animasi Transisi SPA */
.fade-in {
    animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
    from { 
        opacity: 0; 
        transform: translateY(10px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}