/* Custom Scrollbar Dihilangkan (Invisible Scrollbar) biar clean banget */
::-webkit-scrollbar {
    display: none; /* Menyembunyikan scrollbar untuk Chrome, Safari, dan Opera */
}

/* Base style tambahan */
html {
    scrollbar-width: none; /* Menyembunyikan scrollbar untuk Firefox */
    -ms-overflow-style: none; /* Menyembunyikan scrollbar untuk Internet Explorer dan Edge */
    scroll-behavior: smooth; /* Animasi Transisi SPA tetap kita pertahankan */
}

/* Animasi Transisi SPA */
.fade-in {
    animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}